* {
	text-decoration: none !important;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: "fuente-pagina";
    src: url('../font/PTSansNarrow-Bold.ttf') format('truetype');
}

body {
	font-family: "fuente-pagina";
}

html,body{
	margin:0px;
	height:100%;
}


/* Estandar */

a {
	text-decoration: none !important;
}

li {
	list-style: none !important;
}

.inputRed {
	border: 1px solid #e27272 !important;
}

.inputRed:focus {
	border: 1px solid #a53636 !important;
}

.obligatorio {
	color: red;
}

.textRed {
	color: #a53636;
}

.btnEstandar {
	background-color: #a53636 !important;
	color: white !important;
}

.btnEstandar:hover {
	background-color: #cf2626 !important;
}

.btnEstandar2 {
	background-color: white !important;
	color: #166446 !important;
}

.btnEstandar2:hover {
	background-color: rgb(201, 201, 201) !important;
}

.table-dark {
    color: #fff;
    background-color: rgb(75, 75, 75);
}

.alertaEstandar {
	position: fixed;
	top: 8rem;
	left: 50%;
    transform: translateX(-50%);
	z-index: 10;
	display: none;
}

/* Estadar Socio y Junta Directiva */

.header img {
	width: 5rem;
	height: auto;
}

.header div:last-of-type{
	color: rgb(75, 75, 75);
}

.navLeft {
	background-color: rgb(75, 75, 75);
	height: 100vh;
}

.navLeft a{
	background-color: rgb(75, 75, 75);
	color: white;
	border: 0;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-radius: 0;
}

.navLeft a:hover{
	background-color: white;
	color: #43b287;
	border: solid 0.3rem rgb(75, 75, 75);
	border-radius: 0.5rem;
}

.navLeft .active{
	background-color: white;
	color: #43b287;
	border: solid 0.3rem rgb(75, 75, 75);
	border-radius: 0.5rem;
}

#imagenPerfil img{
	border-radius: 150%;
	border: solid #a53636 0.15rem;
    height: 50px;
    width: 50px;
}

#imagenPerfil div{
	min-width: 4rem !important;
}



/*=============================================
=                 Home                        =
=============================================*/

.menu-superior {
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 2;
	border-bottom: 0.5rem solid #a53636;
}

#carruselHome {
	padding-top: 7.5rem !important;
	color: white;
	-webkit-text-stroke: 0.03rem rgb(75, 75, 75);
	z-index: 0;
}

#carruselHome img {
	width: 100%;
	height: 20% !important;
}

#contenido {
	padding-top: 7.5rem !important;
}

.fila1-img {
	width: 100%;
	height: 100%;
}

.fila1-texto {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	-webkit-text-stroke: 0.05rem rgb(75, 75, 75);
}

#logo {
	color: rgb(75, 75, 75);
}

#logo img {
	height: auto;
	width: 6.4rem;
}

#logo:hover {
	color: #a53636;
}

.marcar {
	color: #a53636 !important;
	text-decoration: overline !important;
}

.enlace-nav {
	color: rgb(75, 75, 75);
}

.enlace-nav:hover {
	color: #a53636 !important;
	text-decoration: overline !important;
}

.partner {
	height: auto;
	width: 70%;
}

#noticias-home {
	background-color: #a53636;
}

#quines-somos {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-20%, -50%);
	color: rgb(75, 75, 75);
	text-align: end;
}

#socio {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #a53636;
	border-radius: 0.3rem;
	width: 40%;
}

#footer {
	background-color: #a53636;
}

#redes-sociales {
	margin-top: -13rem;
}

#redes-sociales a {
	color: #a53636;
}

#redes-sociales a:hover {
	color: rgb(46, 46, 46);
	cursor: pointer;
}

#enlaces-footer a {
	color: white;
}

#enlaces-footer a:hover {
	color: rgb(75, 75, 75);
}

#imagen-lateral-2 {
	width: 100%;
	height: 38.75%;
}

#menuHamburguesa i {
	color: #c24949 !important;
	font-size: 2.5rem;
}

#navbarMenuHome {
	justify-content: flex-end;
}

/*=====  Fin Home ======*/

/*=============================================
=                 Login                       =
=============================================*/

#login {
	padding-top: 11.5rem;
	padding-bottom: 4rem;
}

#login > div {
	border: solid 4px #a53636;
}

#boton_login {
	background-color: #a53636;
	color: white;
}

#boton_login:hover {
	background-color: rgb(46, 46, 46);
}

#login span > a {
	color: #a53636 !important;
}


/*=====  Fin Login ======*/

/*=============================================
=                 Register                    =
=============================================*/

#register {
	padding-top: 11.5rem;
}

#register > div {
	border: solid 4px #a53636;
}

/*=====  Fin Register ======*/

/*=============================================
=                 Colaborador                 =
=============================================*/

#colaborador {
	background-color: rgb(75, 75, 75);
	padding-top: 10rem;
	height: 100vh;
}

#fotoPerfil{
	border-radius: 150%;
    height: 20rem;
    width: 20rem;
}

#colaborador table{
	color: white;
}

.pagado {
	background-color: #459e7c;
}

.noPagado {
	background-color: #a53636;
}

#headerColaborador {
	background-color: #a53636;
	position: fixed;
	width: 100%;
}

#headerColaborador img{
	width: auto;
	height: 5rem;
}

#colaboladorSingleSocio {
	background-color: rgb(75, 75, 75);
	height: 100vh;
	padding-top: 7rem;
}

#colaboladorSingleSocio td{
	padding-bottom: 1.5rem;
}

#colaboladorSingleSocio table input {
	background-color:#a53636 !important;
	color: white !important;
}

/*=====  Fin Colaborador ======*/

/*=============================================
=             Junta directiva                 =
=============================================*/

#contenidoJuntaDirectiva {
	background-color: #a53636;
}


/*=====  Fin Junta directiva  ======*/


/*=============================================
=             Socio                 =
=============================================*/

#contenidoSocio {
	background-color: #a53636;
}

/*=====  Fin Junta directiva  ======*/



/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	/* Home Responsive */
	h4 {
		font-size: 0.8rem !important;
	}
	#quines-somos {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-20%, -50%);
		color: white;
		text-align: end;
	}
	#socio {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #a53636;
		border-radius: 0.3rem;
		width: 80% !important;
		padding-right: 1.5rem;
	}
	#socio h1 {
		font-size: 0.8rem !important;
	}
	#redes-sociales {
		margin-top: 0rem !important;
	}
	/* Fin Home Responsive*/
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
	/* Home Responsive */
	h1 {
		font-size: 2rem !important;
	}
	h5 {
		font-size: 0.8rem !important;
	}
	h4 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.5rem !important;
	}
	p {
		font-size: 1rem !important;
	}
	small {
		font-size: 0.6rem !important;
	}
	li {
		font-size: 0.6rem !important;
	}
	h3 {
		font-size: 1rem !important;
	}
	#socio {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #a53636;
		border-radius: 0.3rem;
		width: 40%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: 0rem !important;
	}
	/* Fin Home Responsive */
}



/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
	/* Home Responsive */
	#socio {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #a53636;
		border-radius: 0.3rem;
		width: 40%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: 0rem !important;
	}
	#navbarMenuHome {
		background-color: #a53636;
		padding-bottom: 2rem;
		padding-top: 2rem;
		border-radius: 1rem;
	}
	#navbarMenuHome li {
		padding-left: 2rem;
	}
	#navbarMenuHome a {
		color: white;
		font-size: 1rem;
		font-weight: bold;
	}
	#navbarMenuHome a:hover {
		text-decoration: none !important;
		color: rgb(46, 46, 46) !important;
	}
	#navbarMenuHome .marcar {
		text-decoration: none !important;
		color: rgb(46, 46, 46)!important;
	}
	/* Fin Home Responsive */

	#colaboladorSingleUser {
		height: 100%;
	}
}

@media only screen and (max-width: 1024px) {
	/* Home Responsive */
	#socio {
		width: 50%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: -8rem;
	}
	/* Fin Home Responsive */
}

@media only screen and (max-width: 1200px) {
	/* Home Responsive */
	#socio {
		width: 50%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: -8rem;
	}
	/* Fin Home Responsive */
}

@media only screen and (max-width: 1500px) {
	/* Home Responsive */
	#socio {
		width: 50%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: -8rem;
	}
	/* Fin Home Responsive */
}