* {
	text-decoration: none !important;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: "fuente-pagina";
    src: url('../font/PTSansNarrow-Bold.ttf') format('truetype');
}

body {
	font-family: "fuente-pagina";
}

html,body{
	margin:0px;
	height:100%;
}


/* Estandar */

.e-quick-popup-wrapper .e-delete-icon::before {
	content: "" !important;
}

.e-quick-popup-wrapper .e-edit-icon::before {
	content: "" !important;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none !important;
}

.inputRed {
	border: 1px solid #e27272 !important;
}

.inputRed:focus {
	border: 1px solid #a53636 !important;
}

.inputActivo {
	border: 1px solid #76e272 !important;
	background-color: #36a536 !important;
}

.inputPidePago {
	background-color:#a53636 !important;
}

.inputBaja {
	border: 1px solid #72b0e2 !important;
	background-color: #367ca5 !important;
}

.obligatorio {
	color: red;
}

.textRed {
	color: #a53636;
}

.btnEstandar {
	background-color: #a53636 !important;
	color: white !important;
}

.btnEstandar:hover {
	background-color: #cf2626 !important;
}

.btnEstandar2 {
	background-color: white !important;
	color: #a53636 !important;
}

.btnEstandar2:hover {
	background-color: rgb(201, 201, 201) !important;
}

.btnEstandar3 {
	background-color: #a53636;
	color: white;
}

.btnEstandar3:hover {
	background-color: white;
	color: rgb(46, 46, 46);
	border: 1px solid #a53636;
}

.table-dark {
    color: #fff;
    background-color: rgb(75, 75, 75);
}

.alertaEstandar {
	position: fixed;
	top: 8rem;
	left: 50%;
    transform: translateX(-50%);
	z-index: 10;
	display: none;
}

.fondo {
	background-color:  rgb(75, 75, 75) !important;
}

.fondoRojo {
	background-color:  #a53636 !important;
}

.paginador {
	color: #a53636  !important;
}

.paginador:hover {
	background-color:  #a53636 !important;
	color: white !important;
}

.paginadorActivo {
	background-color:  #a53636 !important;
	color: white !important;
}

.icono_volver_arriba {
    position: fixed;
    right: 5%;
	bottom: 5%;
	font-size: 4rem;
}

.icono_volver_arriba a{
    color:white;
}

.icono_volver_arriba a:hover{
    color:#a53636;
}

.dropdownEstandar {
	background-color: #a53636;
	color: white !important;
}

.dropdownEstandar a{
	color: white !important;
}

.dropdownEstandar a:hover{
	background-color: white;
	color: #a53636 !important;
}

.dropdownEstandar button{
	color: white !important;
}

.dropdownEstandar button:hover{
	background-color: white;
	color: #a53636 !important;
}

.imagenDescuentoSocio {
	height: 12.125rem;
	width: 16.188rem;
}

.imagenNoticiaHome{
	height: 12rem;
	width: 100%;
}

.manita {
	cursor: pointer;
}
/* Estadar Socio y Junta Directiva */

.header img {
	width: 5rem;
	height: auto;
}

.header div:last-of-type{
	color: rgb(75, 75, 75);
}

.navLeft {
	background-color: rgb(75, 75, 75);
	height: 100vh;
}

.navLeft a{
	background-color: rgb(75, 75, 75);
	color: white;
	border: 0;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-radius: 0;
}

.navLeft a:hover{
	background-color: white;
	color: #a53636;
	border: solid 0.3rem rgb(75, 75, 75);
	border-radius: 0.5rem;
}

.navLeft .active{
	background-color: white;
	color: #a53636;
	border: solid 0.3rem rgb(75, 75, 75);
	border-radius: 0.5rem;
}

#imagenPerfil img{
	border-radius: 150%;
	border: solid #a53636 0.15rem;
    height: 50px;
    width: 50px;
}

#imagenPerfil div{
	min-width: 4rem !important;
}

.enlaceEstandar {
	min-width: 4rem !important;
	color: #a53636 !important;
}

.enlaceEstandar:hover {
	color: #0c0c0c !important;
}

.editImagen {
	height: 12.125rem;
	width: 16.188rem;
}

/*=============================================
=                 Home                        =
=============================================*/

.menu-superior {
	position: fixed;
	width: 100%;
	background-color: white;
	z-index: 2;
	border-bottom: 0.5rem solid #a53636;
}

#carruselHome {
	padding-top: 6.5rem !important;
	color: white;
	-webkit-text-stroke: 0.03rem rgb(75, 75, 75);
	z-index: 0;
}

#carruselHome img {
	width: 100%;
	height: 20% !important;
}

#contenido {
	padding-top: 6.5rem !important;
}

.fila1-img {
	width: 100%;
	height: 100%;
}

.fila1-texto {
	position: absolute;
	top: 89%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	-webkit-text-stroke: 0.05rem rgb(75, 75, 75);
}

#logo {
	color: rgb(75, 75, 75);
}

#logo img {
	height: auto;
	width: 6.4rem;
}

#logo:hover {
	color: #a53636;
}

.marcar {
	color: #a53636 !important;
	text-decoration: overline !important;
}

.enlace-nav {
	color: rgb(75, 75, 75);
}

.enlace-nav:hover {
	color: #a53636 !important;
	text-decoration: overline !important;
}

.partner {
	height: auto;
	width: 75%;
}

#noticias-home {
	background-color: #a53636;
}

#quines-somos {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-20%, -50%);
	color: rgb(75, 75, 75);
	text-align: end;
}

#socio {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #a53636;
	border-radius: 0.3rem;
	width: 40%;
}

#footer {
	background-color: #a53636;
}

#redes-sociales {
	margin-top: -13rem;
}

#redes-sociales a {
	color: #a53636;
}

#redes-sociales a:hover {
	color: rgb(46, 46, 46);
	cursor: pointer;
}

#enlaces-footer a {
	color: white;
}

#enlaces-footer a:hover {
	color: rgb(75, 75, 75);
}

#imagen-lateral-2 {
	width: 100%;
	height: 38.75%;
}

#menuHamburguesa i {
	color: #c24949 !important;
	font-size: 2.5rem;
}

#navbarMenuHome {
	justify-content: flex-end;
}

.cardNoticias:hover {
	cursor: pointer;
}

.cardNoticias:hover>div>div:first-of-type {
	color: rgb(75, 75, 75) !important;
	background-color: white !important;
}

.cardNoticias:hover>div>div>small {
	color: rgb(75, 75, 75) !important;
}

.cardNoticias:hover>div>div:last-of-type {
	border-top: 1px solid rgb(75, 75, 75) !important;
	background-color: white !important;
}

.iconosSocioCuerpo {
	width: 2rem !important;
	display: inline-block;
}

/*=====  Fin Home ======*/

/*=============================================
=                 Políticas                   =
=============================================*/

#politicas {
	background-color: #a53636;
	border-radius: 1rem;
}

.indice>li{
	list-style-type: circle !important;
}

.indice>li:hover{
	list-style-type: disc !important;
}

.lista>li {
	list-style-type: disc !important;
}

.enlaces {
	color: rgb(197, 197, 197);
	text-decoration: underline !important;
}

.enlaces:hover {
	color: white;
}

.enlaceWeb {
	cursor: pointer;
	color: white;
}

.enlaceWeb:hover {
	color: rgb(197, 197, 197);
	text-decoration: underline !important;
}



/*=====  Fin Políticas ======*/

/*=============================================
=                 Login                       =
=============================================*/

#login {
	padding-top: 11.5rem;
	padding-bottom: 4rem;
}

#login > div {
	border: solid 4px #a53636;
}

/*=====  Fin Login ======*/

/*=============================================
=                 Register                    =
=============================================*/

#register {
	padding-top: 11.5rem;
}

#register > div {
	border: solid 4px #a53636;
}

/*=====  Fin Register ======*/

/*=============================================
=                 Colaborador                 =
=============================================*/

#colaborador {
	background-color: rgb(75, 75, 75);
	padding-top: 10rem;
	height: 100%;
}

#fotoPerfil{
	border-radius: 150%;
	border: solid #a53636 0.15rem;
    height: 10rem;
    width: 10rem;
}

#colaborador table{
	color: white;
}

.pagado {
	background-color: #459e7c;
}

.noPagado {
	background-color: #a53636;
}

#headerColaborador {
	background-color: #a53636;
	position: fixed;
	width: 100%;
}

#headerColaborador img{
	width: auto;
	height: 5rem;
}

#colaboladorSingleSocio {
	background-color: rgb(75, 75, 75);
	height: 100vh;
	padding-top: 7rem;
}

#colaboladorSingleSocio td{
	padding-bottom: 1.5rem;
}

#colaboladorSingleSocio table input {
	background-color:#a53636;
	color: white !important;
}

#tarjetaSocio {
	background-color:white !important;
	color: rgb(75, 75, 75);
	border: 2px solid #a53636;
	border-radius: 0.5rem;
	visibility: hidden;
}

#logoColaborador {
	width: 10rem;
	height: auto;
}

/*=====  Fin Colaborador ======*/

/*=============================================
=             Junta directiva                 =
=============================================*/

#contenidoJuntaDirectiva {
	background-color: #a53636;
}

#contenidoJuntaDirectiva table>thead{
	background-color:white;
	color:  rgb(46, 46, 46);
}

#contenidoJuntaDirectiva table>tfoot>tr{
	background-color: white;
	color:  rgb(46, 46, 46);
}


.menu-superior2 {
	width: 100%;
	background-color: white;
	z-index: 2;
}

#contenido2 {
	padding-top: 0.5rem !important;
}

.botonJuntaActivo {
	background-color: #a53636 !important;
	color: white !important;
	border: solid 1px white !important;
}

.botonJunta:hover {
	background-color: #a53636;
	color: white;
	border: solid 1px white;
}

.botonJunta:active {
	background-color: #a53636;
	color: white;
	border: solid 1px white;
}

.interactuarSocio:hover {
	cursor: pointer;
	background-color: white !important;
	color: #a53636 !important;
}




/*=====  Fin Junta directiva  ======*/


/*=============================================
=             Socio                 =
=============================================*/

#contenidoSocio {
	background-color: #a53636;
}

/*=====  Fin Junta directiva  ======*/



/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	/* Home Responsive */
	h4 {
		font-size: 0.8rem !important;
	}
	#quines-somos {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-20%, -50%);
		color: white;
		text-align: end;
	}
	#socio {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #a53636;
		border-radius: 0.3rem;
		width: 80% !important;
		padding-right: 1.5rem;
	}
	#socio h1 {
		font-size: 0.8rem !important;
	}
	#redes-sociales {
		margin-top: 0rem !important;
	}
	#carruselHome {
		padding-top: 6.5rem !important;
	}
	/* Fin Home Responsive*/
	.icono_volver_arriba {
		position: fixed;
		right: 5%;
		bottom: 5%;
		font-size: 2rem;
	}

	.editImagen {
		height: 8.063rem;
		width: 10.15rem;
	}

	.imagenDescuentoSocio {
		height: 8.063rem;
		width: 100%;
	}

	#icono_perfil {
		font-size: 0.8rem !important;
	}
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 768px) {
	/* Home Responsive */
	h1 {
		font-size: 2rem !important;
	}
	h5 {
		font-size: 1.2rem !important;
	}
	h4 {
		font-size: 1.5rem;
	}
	h2 {
		font-size: 1.5rem !important;
	}
	p {
		font-size: 1rem !important;
	}
	small {
		font-size: 0.6rem !important;
	}
	#politicas li {
		font-size: 0.8rem !important;
	}
	li {
		font-size: 0.6rem !important;
	}
	h3 {
		font-size: 1rem !important;
	}
	#socio {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #a53636;
		border-radius: 0.3rem;
		width: 40%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: 0rem !important;
	}
	.partner {
		height: auto;
		width: 100%;
	}

	/* Responsive Tabla */
    .tableResponsive {
        border: 0;
    }


    .tableResponsive thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .tableResponsive tr {
        border: 2px solid black;
        display: block;
        margin-bottom: 0px;
    }

    .tableResponsive tbody td {
        border: 1px;
        border-bottom: 1px solid rgb(0, 0, 0);
        display: block;
        font-size: .8em;
        text-align: right;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

    }

    .tableResponsive td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        color: #a53636;
		background-color: white;
		padding: 0.2rem;
		border-radius: 0.5rem;
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .tableResponsive td:last-child {
        border-bottom: 0;
	}
	
	.imagenDescuentoSocio {
		height: 100%;
		width: 110%;
	}
	/* Fin Home Responsive */
	#icono_perfil {
		font-size: 0.8rem;
	}
}



/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {
	/* Home Responsive */
	#socio {
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #a53636;
		border-radius: 0.3rem;
		width: 40%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: 0rem !important;
	}
	#navbarMenuHome {
		background-color: #a53636;
		padding-bottom: 2rem;
		padding-top: 2rem;
		border-radius: 1rem;
	}
	#navbarMenuHome li {
		padding-left: 2rem;
	}

	#navbarMenuHome button {
		color: white;
		font-size: 1rem;
		font-weight: bold;
	}
	#navbarMenuHome button:hover {
		text-decoration: none !important;
		color: rgb(46, 46, 46) !important;
	}

	#navbarMenuHome a {
		color: white;
		font-size: 1rem;
		font-weight: bold;
	}
	#navbarMenuHome a:hover {
		text-decoration: none !important;
		color: rgb(46, 46, 46) !important;
	}
	#navbarMenuHome .marcar {
		text-decoration: none !important;
		color: rgb(46, 46, 46)!important;
	}
	/* Fin Home Responsive */

	#colaboladorSingleUser {
		height: 100%;
	}

	.imagenDescuentoSocio {
		height: 100%;
		width: 110%;
	}

	#icono_perfil {
		font-size: 0.7rem;
	}
}

@media only screen and (max-width: 1024px) {
	/* Home Responsive */
	#socio {
		width: 50%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: -8rem;
	}

	.imagenDescuentoSocio {
		height: 12.125rem;
		width: 80%;
	}
	/* Fin Home Responsive */
}

@media only screen and (max-width: 1200px) {
	/* Home Responsive */
	#socio {
		width: 50%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: -8rem;
	}
	.fila1-texto h1{
		font-size: 1.5rem !important;
	}

	.imagenDescuentoSocio {
		height: 12.125rem;
		width: 80%;
	}
	/* Fin Home Responsive */
}

@media only screen and (max-width: 1500px) {
	/* Home Responsive */
	#socio {
		width: 50%;
		padding-right: 1.5rem;
	}
	#redes-sociales {
		margin-top: -8rem;
	}
	/* Fin Home Responsive */
	.imagenDescuentoSocio {
		height: 12.125rem;
		width: 100%;
	}
}